/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5686 */
.mi-tooltip-text:before {
    content: '\F528';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5689 */
.mi-tooth:before {
    content: '\F529';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5692 */
.mi-tor:before {
    content: '\F52A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5695 */
.mi-tower-beach:before {
    content: '\F680';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5698 */
.mi-tower-fire:before {
    content: '\F681';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5701 */
.mi-towing:before {
    content: '\F83B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5704 */
.mi-trackpad:before {
    content: '\F7F7';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5707 */
.mi-traffic-light:before {
    content: '\F52B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5710 */
.mi-train:before {
    content: '\F52C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5713 */
.mi-tram:before {
    content: '\F52D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5716 */
.mi-transcribe:before {
    content: '\F52E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5719 */
.mi-transcribe-close:before {
    content: '\F52F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5722 */
.mi-transfer:before {
    content: '\F530';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5725 */
.mi-transit-transfer:before {
    content: '\F6AD';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5728 */
.mi-translate:before {
    content: '\F5CA';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5731 */
.mi-treasure-chest:before {
    content: '\F725';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5734 */
.mi-tree:before {
    content: '\F531';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5737 */
.mi-trello:before {
    content: '\F532';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5740 */
.mi-trending-down:before {
    content: '\F533';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5743 */
.mi-trending-neutral:before {
    content: '\F534';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5746 */
.mi-trending-up:before {
    content: '\F535';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5749 */
.mi-triangle:before {
    content: '\F536';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5752 */
.mi-triangle-outline:before {
    content: '\F537';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5755 */
.mi-trophy:before {
    content: '\F538';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5758 */
.mi-trophy-award:before {
    content: '\F539';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5761 */
.mi-trophy-outline:before {
    content: '\F53A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5764 */
.mi-trophy-variant:before {
    content: '\F53B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5767 */
.mi-trophy-variant-outline:before {
    content: '\F53C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5770 */
.mi-truck:before {
    content: '\F53D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5773 */
.mi-truck-delivery:before {
    content: '\F53E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5776 */
.mi-truck-fast:before {
    content: '\F787';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5779 */
.mi-truck-trailer:before {
    content: '\F726';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5782 */
.mi-tshirt-crew:before {
    content: '\F53F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5785 */
.mi-tshirt-v:before {
    content: '\F540';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5788 */
.mi-tumblr:before {
    content: '\F541';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5791 */
.mi-tumblr-reblog:before {
    content: '\F542';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5794 */
.mi-tune:before {
    content: '\F62E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5797 */
.mi-tune-vertical:before {
    content: '\F66A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5800 */
.mi-twitch:before {
    content: '\F543';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5803 */
.mi-twitter:before {
    content: '\F544';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5806 */
.mi-twitter-box:before {
    content: '\F545';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5809 */
.mi-twitter-circle:before {
    content: '\F546';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5812 */
.mi-twitter-retweet:before {
    content: '\F547';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5815 */
.mi-uber:before {
    content: '\F748';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5818 */
.mi-ubuntu:before {
    content: '\F548';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5821 */
.mi-ultra-high-definition:before {
    content: '\F7F8';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5824 */
.mi-umbraco:before {
    content: '\F549';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5827 */
.mi-umbrella:before {
    content: '\F54A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5830 */
.mi-umbrella-outline:before {
    content: '\F54B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5833 */
.mi-undo:before {
    content: '\F54C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5836 */
.mi-undo-variant:before {
    content: '\F54D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5839 */
.mi-unfold-less-horizontal:before {
    content: '\F54E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5842 */
.mi-unfold-less-vertical:before {
    content: '\F75F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5845 */
.mi-unfold-more-horizontal:before {
    content: '\F54F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5848 */
.mi-unfold-more-vertical:before {
    content: '\F760';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5851 */
.mi-ungroup:before {
    content: '\F550';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5854 */
.mi-unity:before {
    content: '\F6AE';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5857 */
.mi-untappd:before {
    content: '\F551';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5860 */
.mi-update:before {
    content: '\F6AF';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5863 */
.mi-upload:before {
    content: '\F552';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5866 */
.mi-upload-multiple:before {
    content: '\F83C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5869 */
.mi-upload-network:before {
    content: '\F6F5';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5872 */
.mi-usb:before {
    content: '\F553';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5875 */
.mi-van-passenger:before {
    content: '\F7F9';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5878 */
.mi-van-utility:before {
    content: '\F7FA';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5881 */
.mi-vanish:before {
    content: '\F7FB';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5884 */
.mi-vector-arrange-above:before {
    content: '\F554';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5887 */
.mi-vector-arrange-below:before {
    content: '\F555';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5890 */
.mi-vector-circle:before {
    content: '\F556';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5893 */
.mi-vector-circle-variant:before {
    content: '\F557';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5896 */
.mi-vector-combine:before {
    content: '\F558';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5899 */
.mi-vector-curve:before {
    content: '\F559';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5902 */
.mi-vector-difference:before {
    content: '\F55A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5905 */
.mi-vector-difference-ab:before {
    content: '\F55B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5908 */
.mi-vector-difference-ba:before {
    content: '\F55C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5911 */
.mi-vector-intersection:before {
    content: '\F55D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5914 */
.mi-vector-line:before {
    content: '\F55E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5917 */
.mi-vector-point:before {
    content: '\F55F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5920 */
.mi-vector-polygon:before {
    content: '\F560';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5923 */
.mi-vector-polyline:before {
    content: '\F561';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5926 */
.mi-vector-radius:before {
    content: '\F749';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5929 */
.mi-vector-rectangle:before {
    content: '\F5C6';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5932 */
.mi-vector-selection:before {
    content: '\F562';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5935 */
.mi-vector-square:before {
    content: '\F001';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5938 */
.mi-vector-triangle:before {
    content: '\F563';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5941 */
.mi-vector-union:before {
    content: '\F564';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5944 */
.mi-venmo:before {
    content: '\F578';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5947 */
.mi-verified:before {
    content: '\F565';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5950 */
.mi-vibrate:before {
    content: '\F566';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5953 */
.mi-video:before {
    content: '\F567';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5956 */
.mi-video-3d:before {
    content: '\F7FC';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5959 */
.mi-video-4k-box:before {
    content: '\F83D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5962 */
.mi-video-input-antenna:before {
    content: '\F83E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5965 */
.mi-video-input-component:before {
    content: '\F83F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5968 */
.mi-video-input-hdmi:before {
    content: '\F840';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5971 */
.mi-video-input-svideo:before {
    content: '\F841';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5974 */
.mi-video-off:before {
    content: '\F568';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5977 */
.mi-video-switch:before {
    content: '\F569';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5980 */
.mi-view-agenda:before {
    content: '\F56A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5983 */
.mi-view-array:before {
    content: '\F56B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5986 */
.mi-view-carousel:before {
    content: '\F56C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5989 */
.mi-view-column:before {
    content: '\F56D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5992 */
.mi-view-dashboard:before {
    content: '\F56E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5995 */
.mi-view-dashboard-variant:before {
    content: '\F842';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:5998 */
.mi-view-day:before {
    content: '\F56F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6001 */
.mi-view-grid:before {
    content: '\F570';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6004 */
.mi-view-headline:before {
    content: '\F571';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6007 */
.mi-view-list:before {
    content: '\F572';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6010 */
.mi-view-module:before {
    content: '\F573';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6013 */
.mi-view-parallel:before {
    content: '\F727';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6016 */
.mi-view-quilt:before {
    content: '\F574';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6019 */
.mi-view-sequential:before {
    content: '\F728';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6022 */
.mi-view-stream:before {
    content: '\F575';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6025 */
.mi-view-week:before {
    content: '\F576';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6028 */
.mi-vimeo:before {
    content: '\F577';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6031 */
.mi-violin:before {
    content: '\F60F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6034 */
.mi-visualstudio:before {
    content: '\F610';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6037 */
.mi-vk:before {
    content: '\F579';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6040 */
.mi-vk-box:before {
    content: '\F57A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6043 */
.mi-vk-circle:before {
    content: '\F57B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6046 */
.mi-vlc:before {
    content: '\F57C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6049 */
.mi-voice:before {
    content: '\F5CB';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6052 */
.mi-voicemail:before {
    content: '\F57D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6055 */
.mi-volume-high:before {
    content: '\F57E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6058 */
.mi-volume-low:before {
    content: '\F57F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6061 */
.mi-volume-medium:before {
    content: '\F580';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6064 */
.mi-volume-minus:before {
    content: '\F75D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6067 */
.mi-volume-mute:before {
    content: '\F75E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6070 */
.mi-volume-off:before {
    content: '\F581';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6073 */
.mi-volume-plus:before {
    content: '\F75C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6076 */
.mi-vpn:before {
    content: '\F582';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6079 */
.mi-vuejs:before {
    content: '\F843';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6082 */
.mi-walk:before {
    content: '\F583';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6085 */
.mi-wall:before {
    content: '\F7FD';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6088 */
.mi-wallet:before {
    content: '\F584';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6091 */
.mi-wallet-giftcard:before {
    content: '\F585';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6094 */
.mi-wallet-membership:before {
    content: '\F586';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6097 */
.mi-wallet-travel:before {
    content: '\F587';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6100 */
.mi-wan:before {
    content: '\F588';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6103 */
.mi-washing-machine:before {
    content: '\F729';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6106 */
.mi-watch:before {
    content: '\F589';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6109 */
.mi-watch-export:before {
    content: '\F58A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6112 */
.mi-watch-import:before {
    content: '\F58B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6115 */
.mi-watch-vibrate:before {
    content: '\F6B0';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6118 */
.mi-water:before {
    content: '\F58C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6121 */
.mi-water-off:before {
    content: '\F58D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6124 */
.mi-water-percent:before {
    content: '\F58E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6127 */
.mi-water-pump:before {
    content: '\F58F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6130 */
.mi-watermark:before {
    content: '\F612';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6133 */
.mi-waves:before {
    content: '\F78C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6136 */
.mi-weather-cloudy:before {
    content: '\F590';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6139 */
.mi-weather-fog:before {
    content: '\F591';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6142 */
.mi-weather-hail:before {
    content: '\F592';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6145 */
.mi-weather-lightning:before {
    content: '\F593';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6148 */
.mi-weather-lightning-rainy:before {
    content: '\F67D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6151 */
.mi-weather-night:before {
    content: '\F594';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6154 */
.mi-weather-partlycloudy:before {
    content: '\F595';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6157 */
.mi-weather-pouring:before {
    content: '\F596';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6160 */
.mi-weather-rainy:before {
    content: '\F597';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6163 */
.mi-weather-snowy:before {
    content: '\F598';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6166 */
.mi-weather-snowy-rainy:before {
    content: '\F67E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6169 */
.mi-weather-sunny:before {
    content: '\F599';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6172 */
.mi-weather-sunset:before {
    content: '\F59A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6175 */
.mi-weather-sunset-down:before {
    content: '\F59B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6178 */
.mi-weather-sunset-up:before {
    content: '\F59C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6181 */
.mi-weather-windy:before {
    content: '\F59D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6184 */
.mi-weather-windy-variant:before {
    content: '\F59E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6187 */
.mi-web:before {
    content: '\F59F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6190 */
.mi-webcam:before {
    content: '\F5A0';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6193 */
.mi-webhook:before {
    content: '\F62F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6196 */
.mi-webpack:before {
    content: '\F72A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6199 */
.mi-wechat:before {
    content: '\F611';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6202 */
.mi-weight:before {
    content: '\F5A1';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6205 */
.mi-weight-kilogram:before {
    content: '\F5A2';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6208 */
.mi-whatsapp:before {
    content: '\F5A3';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6211 */
.mi-wheelchair-accessibility:before {
    content: '\F5A4';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6214 */
.mi-white-balance-auto:before {
    content: '\F5A5';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6217 */
.mi-white-balance-incandescent:before {
    content: '\F5A6';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6220 */
.mi-white-balance-iridescent:before {
    content: '\F5A7';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6223 */
.mi-white-balance-sunny:before {
    content: '\F5A8';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6226 */
.mi-widgets:before {
    content: '\F72B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6229 */
.mi-wifi:before {
    content: '\F5A9';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6232 */
.mi-wifi-off:before {
    content: '\F5AA';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6235 */
.mi-wii:before {
    content: '\F5AB';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6238 */
.mi-wiiu:before {
    content: '\F72C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6241 */
.mi-wikipedia:before {
    content: '\F5AC';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6244 */
.mi-window-close:before {
    content: '\F5AD';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6247 */
.mi-window-closed:before {
    content: '\F5AE';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6250 */
.mi-window-maximize:before {
    content: '\F5AF';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6253 */
.mi-window-minimize:before {
    content: '\F5B0';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6256 */
.mi-window-open:before {
    content: '\F5B1';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6259 */
.mi-window-restore:before {
    content: '\F5B2';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6262 */
.mi-windows:before {
    content: '\F5B3';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6265 */
.mi-wordpress:before {
    content: '\F5B4';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6268 */
.mi-worker:before {
    content: '\F5B5';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6271 */
.mi-wrap:before {
    content: '\F5B6';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6274 */
.mi-wrench:before {
    content: '\F5B7';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6277 */
.mi-wunderlist:before {
    content: '\F5B8';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6280 */
.mi-xamarin:before {
    content: '\F844';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6283 */
.mi-xamarin-outline:before {
    content: '\F845';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6286 */
.mi-xaml:before {
    content: '\F673';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6289 */
.mi-xbox:before {
    content: '\F5B9';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6292 */
.mi-xbox-controller:before {
    content: '\F5BA';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6295 */
.mi-xbox-controller-battery-alert:before {
    content: '\F74A';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6298 */
.mi-xbox-controller-battery-empty:before {
    content: '\F74B';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6301 */
.mi-xbox-controller-battery-full:before {
    content: '\F74C';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6304 */
.mi-xbox-controller-battery-low:before {
    content: '\F74D';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6307 */
.mi-xbox-controller-battery-medium:before {
    content: '\F74E';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6310 */
.mi-xbox-controller-battery-unknown:before {
    content: '\F74F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6313 */
.mi-xbox-controller-off:before {
    content: '\F5BB';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6316 */
.mi-xda:before {
    content: '\F5BC';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6319 */
.mi-xing:before {
    content: '\F5BD';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6322 */
.mi-xing-box:before {
    content: '\F5BE';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6325 */
.mi-xing-circle:before {
    content: '\F5BF';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6328 */
.mi-xml:before {
    content: '\F5C0';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6331 */
.mi-xmpp:before {
    content: '\F7FE';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6334 */
.mi-yammer:before {
    content: '\F788';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6337 */
.mi-yeast:before {
    content: '\F5C1';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6340 */
.mi-yelp:before {
    content: '\F5C2';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6343 */
.mi-yin-yang:before {
    content: '\F67F';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6346 */
.mi-youtube-creator-studio:before {
    content: '\F846';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6349 */
.mi-youtube-gaming:before {
    content: '\F847';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6352 */
.mi-youtube-play:before {
    content: '\F5C3';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6355 */
.mi-youtube-tv:before {
    content: '\F448';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/etc/classes.scss:6358 */
.mi-zip-box:before {
    content: '\F5C4';
}
/* C:/Development/mygit/SU/su/packages/material-icons/sass/src/all.scss:8 */
.x-mi:before {
    font-family: materialdesignicons-webfont !important;
}